#circle-current {
    background: rgba(233, 212, 96, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#circle-completed {
    background: green;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

#circle-empty {
    background: grey;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}